@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#888, offx=1, offy=1);
	color: #333;
}
input {
	outline: none;
}
body {
	background: url('../images/bg.png');
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oleo Script', cursive;
}
h1 {
	color: #FFD242;
	text-shadow: 1px 1px 1px #888;
	filter: dropshadow(color=#888, offx=1, offy=1);
	letter-spacing: 2px;
}
h2 {
	color: #444;
	text-shadow: 1px 1px 1px #f0f0f0;
	filter: dropshadow(color=#f0f0f0, offx=1, offy=1);
}
a {
	color: #9EA8FF;
	text-decoration: none;
}
ul, ol {
	list-style: none;
}

/* Rounded Borders */
.roundedBorders {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-radius: 8px;
}
.roundedBordersTop {
	/* Rounded Borders */
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}
.roundedBordersBottom {
	/* Rounded Borders */
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}

.dropShadow {
	-webkit-box-shadow:  3px 3px 0px 0px #aaa;
	box-shadow:  2px 2px 5px 0px #aaa;
}

#ingredients {
}
#dislikes {
	margin-top: 20px;
}
.showOptions {
	height: 16px;
	width: 16px;
	margin-left: -3px;
	padding-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.tag, .ingredient {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 0 3px 3px 0;
	font-weight: bold;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 0.9em;
	display: inline-block;
}
.tag .ingredientName, .ingredient .ingredientName {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 10px;
}
.tag {
	background: #a9e4f7; /* Old browsers */
	background: -moz-linear-gradient(top, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
	background: linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
	border: 1px solid #0D9DC9;
}
.tag .ingredientName {
	border-right: 1px solid #0D9DC9;
	color: #ffffff;
	text-shadow: 0px 1px 0px #0D9DC9;
	filter: dropshadow(color=#0D9DC9, offx=0, offy=1);
}
.tag:hover {
	background: #cdeaf2; /* Old browsers */
	background: -moz-linear-gradient(top, #cdeaf2 0%, #7ccce2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeaf2), color-stop(100%,#7ccce2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdeaf2 0%,#7ccce2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdeaf2 0%,#7ccce2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cdeaf2 0%,#7ccce2 100%); /* IE10+ */
	background: linear-gradient(top, #cdeaf2 0%,#7ccce2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeaf2', endColorstr='#7ccce2',GradientType=0 ); /* IE6-9 */
}
.tag .showOptions {
	background: url('../images/arrowDownBlue.png') center no-repeat;
}
.ingredient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	
	border: 1px solid #e0e0e0;
}
.ingredient .ingredientName {
	border-right: 1px solid #e0e0e0;
	color: #666;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
.ingredient:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.ingredient .showOptions {
	background: url('../images/arrowDownGrey.png') center no-repeat;
}
#dislikes .tag {
	background: #f7bca9; /* Old browsers */
	background: -moz-linear-gradient(top, #f7bca9 0%, #e7410f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7bca9), color-stop(100%,#e7410f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7bca9 0%,#e7410f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7bca9 0%,#e7410f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7bca9 0%,#e7410f 100%); /* IE10+ */
	background: linear-gradient(top, #f7bca9 0%,#e7410f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7bca9', endColorstr='#e7410f',GradientType=0 ); /* IE6-9 */

	border: 1px solid #C90D0D;
}
#dislikes .tag .ingredientName {
	border-right: 1px solid #C90D0D;
	text-shadow: 0px 1px 0px #C90D0D;
	filter: dropshadow(color=#C90D0D, offx=0, offy=1);
}
#dislikes .tag .showOptions {
	background: url('../images/arrowDownRed.png') center no-repeat;
}
#dislikes .tag:hover {
	background: #f2d6ce; /* Old browsers */
	background: -moz-linear-gradient(top, #f2d6ce 0%, #e2927c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2d6ce), color-stop(100%,#e2927c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2d6ce 0%,#e2927c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2d6ce 0%,#e2927c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2d6ce 0%,#e2927c 100%); /* IE10+ */
	background: linear-gradient(top, #f2d6ce 0%,#e2927c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d6ce', endColorstr='#e2927c',GradientType=0 ); /* IE6-9 */
}
.ingredientMenu {
	background: #f1f1f1;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: none;
	position: absolute;
	-webkit-box-shadow: 2px 2px 5px 0px #555;
	box-shadow: 2px 2px 5px 0px #555;
	width: 100px;
	z-index: 999;
}
.ingredientMenu .menuButton {
	display: block;
	padding: 3px 10px;
	cursor: pointer;
	margin: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bbb;
	text-align: center;
}
.ingredientMenu .closeMenu {
	font-weight: bold;
}
.ingredientMenu .menuButton:hover {
	background: #f4da8b; /* Old browsers */
	background: -moz-linear-gradient(top, #f4da8b 0%, #f5c738 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4da8b), color-stop(100%,#f5c738)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* IE10+ */
	background: linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4da8b', endColorstr='#f5c738',GradientType=0 ); /* IE6-9 */
}
table.ingredients {
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-collapse: collapse;
	margin: 10px;
}
table.ingredients thead tr {
	background: #f4da8b; /* Old browsers */
	background: -moz-linear-gradient(top, #f4da8b 0%, #f5c738 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4da8b), color-stop(100%,#f5c738)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* IE10+ */
	background: linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4da8b', endColorstr='#f5c738',GradientType=0 ); /* IE6-9 */
}
table.ingredients thead tr th {
	padding: 3px 5px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
table.ingredients tbody tr:nth-child(2n) {
	background: #FCF3DA;
}
table.ingredients tbody tr:nth-child(2n+1) {
	background: #F8E9B9;
}
table.ingredients tbody tr:hover {
	background: #FDF9EC;
}
table.ingredients tbody tr td {
	padding: 3px 5px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}