
/* Rounded Borders */
.roundedBorders {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.roundedBordersTop {
	/* Rounded Borders */
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
}
.roundedBordersBottom {
	/* Rounded Borders */
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
}
#menu {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}
#menuWrapper {
	width: 940px;
	height: 50px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.6);
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	position: relative;
}
#logo {
	float: left;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Oleo Script', cursive;
}
#logo a {
	display: block;
	padding: 0 15px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
}
#logo a:hover {
	background: #ffffff;
	color: #000000;
}
#refineSearch {
	position: absolute;
	top: 10px;
	left: 280px;
	height: 50px;
}
#controls {
	float: right;
	width: 600px;
	text-align: right;
	height: 50px;
	line-height: 50px;
}
#controls ul {
	list-style: none;
}
#controls ul li {
	display: inline-block;
	height: 50px;
	margin-right: 20px;
	padding: 0;
	border-collapse: collapse;
}
#controls ul li a {
	display: block;
	height: 100%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	padding: 0 5px;
}
#controls ul li a:hover {
	color: #000000;
	background: #ffffff;
}
#content {
	width: 900px;
	margin: 70px auto 0 auto;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #aaaaaa;
}
#searchWrapper {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
#search {
	width: 300px;
	border: 1px solid #aaaaaa;
	text-align: left;
	background: #ffffff;
}
#search #searchInput {
	width: 250px;
	height: 20px;
	padding: 5px;
	border: none;
	line-height: 20px;
	background: none;
}
#search button {
	width: 27px;
	height: 30px;
	background: url('../images/search_button.png') no-repeat;
	border: none;
	cursor: pointer;
	float: right;
}
.example {
	color: #aaaaaa;
}
#results {
	display: inline-block;
	width: 680px;
	vertical-align: text-top;
	border-right: 1px solid #dddddd;
}
.result {
	padding: 5px;
	width: 320px;
	height: 120px;
	border: 1px solid #dddddd;
	background: #e9e9e9;
	margin: 0 5px 5px 0;
	float: left;
}
.result .resultImage {
	width: 80px;
	height: 80px;
	padding: 3px;
	background: #ffffff;
	border: 1px solid #000000;
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
}
.result .resultImage img {
	width: 80px;
	height: 80px;
}
.result .info {
	width: 217px;
	height: 100px;
	display: inline-block;
	vertical-align: text-top;
}
.result .resultName {
	font-family: 'Oleo Script', cursive;
	font-size: 1.5em;
}
.result .time {
	background: url('../images/clock.png') left top no-repeat;
	padding-left: 18px;
	font-weight: bold;
	margin-top: 5px;
}
.result .grade {
	width: 100px;
	height: 16px;
	margin-top: 5px;
}
.result .grade .starFull {
	width: 16px;
	height: 16px;
	background: url('../images/star_full.png');
	display: inline-block;
}
.result .grade .starEmpty {
	width: 16px;
	height: 16px;
	background: url('../images/star_empty.png');
	display: inline-block;
}
#rightBar {
	display: inline-block;
	width: 200px;
	vertical-align: text-top;
	padding-left: 10px;
}
#ingredients {
}
#dislikes {
	margin-top: 20px;
}
.tag, .ingredient {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 2px 5px 2px 5px;
	margin: 0 3px 3px 0;
	background: #E5FCFF;
	border: 1px solid #80F2FF;
	color: #666;
	font-weight: bold;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.ingredient {
	font-size: 0.9em;
	padding: 3px;
}
.tag:hover, .ingredient:hover {
	background: #1AE4FF;
	color: #ffffff;
}
.tag .closeTag {
	padding: 2px;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
}
.tag .closeTag:hover {
	background: #005A66;
}
.dislike {
	background: #FFE5E5;
	border: 1px solid #FF8080;
}
.dislike:hover {
	background: #FF1A1A;
}
.ingredientMenu {
	background: #ffffff;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	display: none;
	position: absolute;
	margin-top: 10px;
}
.ingredientMenu .menuButton {
	display: block;
	padding: 3px;
	cursor: pointer;
	margin: 0;
}
.ingredientMenu .menuButton:hover {
	background: #dddddd;
}
