h1.big {
	font-size: 3em;
	color: #F5C738;
	margin-bottom: 10px;
}
#menu {
	height: 50px;
	width: 100%;
	top: 0;
}
#menuWrapper {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	
	background: #f4da8b; /* Old browsers */
	background: -moz-linear-gradient(top, #f4da8b 0%, #f5c738 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4da8b), color-stop(100%,#f5c738)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* IE10+ */
	background: linear-gradient(top, #f4da8b 0%,#f5c738 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4da8b', endColorstr='#f5c738',GradientType=0 ); /* IE6-9 */
	
	border-left: 1px solid #DAA60B;
	border-bottom: 1px solid #DAA60B;
	border-right: 1px solid #DAA60B;
	position: relative;
}
#logo {
	float: left;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Oleo Script', cursive;
}
#logo a {
	display: block;
	padding: 0 15px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	
	text-shadow: 1px 1px 1px #888;
	filter: dropshadow(color=#444, offx=1, offy=1);
	letter-spacing: 2px;
}
#logo a:hover {
	color: #555;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#444, offx=1, offy=1);
}
#refineSearch {
	position: absolute;
	top: 10px;
	left: 280px;
	height: 50px;
	width: 50px;
}
#controls {
	float: right;
	width: 600px;
	text-align: right;
	height: 50px;
	line-height: 50px;
}
#controls ul {
	list-style: none;
}
#controls ul li {
	display: inline-block;
	height: 50px;
	margin-right: 20px;
	padding: 0;
	border-collapse: collapse;
}
#controls ul li a {
	display: block;
	height: 100%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	padding: 0 5px;
	text-shadow: 1px 1px 1px #888;
	filter: dropshadow(color=#444, offx=1, offy=1);
}
#controls ul li a:hover {
	color: #555;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#444, offx=1, offy=1);
}
#contentWrapper {
	width: 1000px;
	margin: 10px auto;
}
#ingredientsBar {
	position: fixed;
	width: 188px;
	padding: 10px;
	border: 1px solid #888;
	background: rgba(0, 0, 0, 0.18);
}
#content {
	padding: 20px;
	background: #FAFAFA;
	border: 1px solid #aaaaaa;
    min-height: 300px;
}
.full {
	width: 958px;
	margin: 0 auto;
}
.medium {
	width: 730px;
	margin-left: 230px;
}
#searchWrapper {
	width: 500px;
	margin: 100px auto 0;
	text-align: center;
}
#search {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	border: 5px solid #efefef;
	text-align: left;
	background: #f8f8f8;
	font-size: 1.2em;
}
#search #searchInput {
	width: 350px;
	height: 20px;
	padding: 5px;
	border: none;
	line-height: 30px;
	background: none;
	font-size: 1.3em;
	color: #000000;
}
#search button {
	width: 27px;
	height: 30px;
	background: url('../images/search_button.png') no-repeat;
	border: none;
	cursor: pointer;
	float: right;
}
#overviewRecipe {
    float: right;
    padding-right: 50px;
}
#recipeDetail {
    clear: both;
    margin-top: 20px;
}
#recipeDetail ul li.ingredient {
    display: block;
    width: 100px;
    margin: 5px;
}
#recipePhoto {
	float: left;
	max-width: 480px;
}

ul li {
    list-style: none;
}
#recipeDetail ul {
    padding-bottom: 20px;
}
.detailRecipe {
    float: right;
    margin-top: -100px;
}
.example {
	display: block;
	margin-top: 10px;
	color: #aaaaaa;
	font-size: 1.1em;
}
.result {
	padding: 5px;
	width: 330px;
	height: 150px;
	border: 1px solid #F5E266;
	background: #FCF6CF;
	margin: 10px;
	display: inline-block;
}
.result .resultImage {
	width: 80px;
	height: 80px;
	padding: 3px;
	background: #ffffff;
	border: 1px solid #000000;
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
}
.result .resultImage img {
	width: 80px;
	height: 80px;
}
.result .info {
	width: 217px;
	height: 100px;
	display: inline-block;
	vertical-align: text-top;
}
.result .resultName {
	font-family: 'Oleo Script', cursive;
	font-size: 1.5em;
	color: #555;
	text-shadow: 1px 1px 1px #f0f0f0;
	filter: dropshadow(color=#f0f0f0, offx=1, offy=1);
}
.time {
	background: url('../images/clock.png') left top no-repeat;
	padding-left: 18px;
	font-weight: bold;
	margin-top: 5px;
}
.grade {
	width: 100px;
	height: 16px;
	margin-top: 5px;
}
.grade .starFull {
	width: 16px;
	height: 16px;
	background: url('../images/star_full.png');
	display: inline-block;
}
.grade .starEmpty {
	width: 16px;
	height: 16px;
	background: url('../images/star_empty.png');
	display: inline-block;
}
#backToSearch {
	width: 200px;
	text-align: center;
	padding: 5px;
	background-color: #EDEDED;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	display: inline-block;

	border: 1px solid #dddddd;
}
#backToSearch img { vertical-align: middle; }
.autoComplete {
	color: #000000;
	padding: 10px;
	border: 1px solid #dddddd;
	background: #f8f8f8;
}